################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
wwwroot/
.vs/
bin/
obj/
*.user
*.suo